Repository Sudo-Abhishek/todo-list-1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn format

fixes
  .husky/pre-commit
  .lintstagedrc
  babel.config.js
  dist/792.js
  dist/951.js
  dist/951.js.LICENSE.txt
  dist/bundle.js
  dist/bundle.js.map
  dist/main.bundle.js
  eslint.rc.json
  jest.config.js
  package.json
  src/App.test.tsx
  src/__tests__/App.test.tsx
  src/__tests__/scenes/genericComponents/rootLayout/index.test.tsx
  src/__tests__/scenes/todoList/index.test.tsx
  src/scenes/genericComponents/rootLayout/index.tsx
  src/scenes/todoList/components/addTodoItemBar/index.tsx
  src/scenes/todoList/components/todoChild/index.tsx
  src/scenes/todoList/components/todoListChildLayout/index.tsx
  src/scenes/todoList/index.tsx
  yarn.lock
Due: eslint --fix, yarn format

fixes
  dist/792.js
  src/router.ts
  src/services/general/constants.ts
  src/services/redux/todoList/types.d.ts
  src/theme.ts
Due: eslint --fix, yarn format

added icon
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/to-do-list.png
Due: none

fixes
  dist/index.html
Due: none

Update README.md
  README.md
Due: yarn format

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  yarn format: any of: *.{ts,tsx,md}
